[user]
	name = Alcides Fonseca
	email = me@alcidesfonseca.com
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/alcides/.gitignore
	whitespace = space-before-tab,indent-with-non-tab,trailing-space
	pager = cat
[rerere]
	enabled = 1
	autoupdate = 1
[alias]
  ce = add --update
  w = whatchanged
  uncommit = reset --soft HEAD^
  amend = commit --amend -C HEAD
  weekly = shortlog --since=1weekago
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[push]
	default = matching
[apply]
	ignorewhitespace = change
	whitespace = fix
[diff]
  renames = copy
	tool = filemerge
[color]
	ui = true
	pager = true
  interactive = auto
  diff = auto
  status = auto
  branch = auto
[url "https://github.com/"]
  insteadOf = "gh:"
[clean]
  requireForce = true
[difftool "filemerge"]
  cmd = "/Applications/Xcode.app/Contents/Developer/usr/bin/opendiff $LOCAL $REMOTE"
[mergetool "opendiff"]
  cmd = "opendiff \"$LOCAL\"  \"$REMOTE\" \"$(if test -f \"$BASE\"; then echo \"--ancestor $BASE\"; else echo \"--ancestor $LOCAL\"; fi)\" --merge=\"$MERGED\" "
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[difftool]
	prompt = false
[help]
	autocorrect = 1
